.main-menu{
    display: flex;
    flex-direction: row;
    background-color:  #FFFEFB;
    ;
}
.menu-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Single Day';
}
.pos-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 69%;
    height: 100vh;
    overflow-y: scroll;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;

}
.card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    padding: 10px;
    margin: 10px;
    background-color: #FFFAEE;
    border: 1px solid #85C045;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0.3, 0);
    border-radius: 10px;

}
.item-tittle{
    font-family: 'Single Day';
    font-size: 1.2em;
    color: #745E55;
    margin: 0;
}
.item-img{
    width: 40px;
}
.item-desc{
    font-size: 0.9em;
    margin: 2px;
    text-align: center;
}
.item-price{
    margin: 2px;
    font-size: 1.2rem;
    font-family: 'Single Day';
}
.item-btn{
    background: #85C045;
    font-family: 'Single Day';
    color: #FFFAEE;
    font-size: 0.9em;
    width: 120px;
    height: 30px;
    border: 1px solid #85C045;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.order-container{
    width: 29%;
    height: 85vh;
    margin: 2%;
    background-color: #FFF6F4;
    border: 1px solid #FFF6F4;;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow-y: scroll;
    

}
