
.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 85px;
    align-items: center;
    background-color: #FFF6F4;
    border-radius: 8px;
}
.img-logo{
    width: 75px;
}
.menu-list-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.name-menu{
    margin: -9px 3px 50px 3px;
    color:#745E55;
}
.img-sidebar{
    width: 53px;
    margin: 0 12px;
}